{% extends "base.html" %}
{% block content %}
<form method="post" action="/kullanici_kaydet">
    <input type="text" name="isim" placeholder="İsmi giriniz" />
    <input type="text" name="telefon" placeholder="Telefon Numarası Girin" />
    <input type="submit" value="Yeni Kullanici" />
</form>

{% endblock %}

{% block footer %}

<table width="100%">
    <thead>
        <th>İsim</th>
        <th>Telefon</th>
    </thead>
    <tbody>
        {% for kisi in kisilistesi %}
        <tr>
            <td>{{kisi.isim}}</td>
            <td>{{kisi.telefon}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}